@mixin grid-columns($screen) {
  @for $i from 1 to 13 {
    .col-#{$screen}-#{$i} {
      width: floor(percentage($i / 12));
      float: left;
      margin: 0px;
      padding: 1em;
      vertical-align: top;
    }
  }
}

// object-like structure to store key-values
$type-sizes: (
  sm: 576px,
  md: 768px,
  lg: 992px
);

@each $type, $size in $type-sizes {
  @media screen and (min-width: $size) {
    @include grid-columns($type);
  }
}
